@charset "utf-8";
html,BODY {
	SCROLLBAR-ARROW-COLOR: #02338a; SCROLLBAR-FACE-COLOR: #2b73f1; MARGIN: 0px; SCROLLBAR-DARKSHADOW-COLOR: #0650d2; FONT: 9pt 宋体; BACKGROUND: #0650d2; SCROLLBAR-HIGHLIGHT-COLOR: #0650d2; SCROLLBAR-SHADOW-COLOR: #449ae8; SCROLLBAR-TRACK-COLOR: #0650d2; TEXT-DECORATION: none; SCROLLBAR-3DLIGHT-COLOR: #449ae8
}
TABLE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px;
}
TD {
	FONT: 12px 宋体; text-align:left;
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; VERTICAL-ALIGN: bottom; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
A {
	FONT: 12px 宋体; COLOR: #000000; TEXT-DECORATION: none
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:hover {
	COLOR: #cc0000
}
.sec_menu {
	BORDER-BOTTOM: #ffffff 1px solid; TEXT-ALIGN: right; BORDER-LEFT: #ffffff 1px solid; BACKGROUND: #d4ecf5; OVERFLOW: hidden
}
.menu_title {
	
}
.menu_title SPAN {
	POSITION: relative; COLOR: #0f42a6; TOP: 2px; FONT-WEIGHT: bold; LEFT: 8px
}
.menu_title2 {
	
}
.menu_title2 SPAN {
	POSITION: relative; COLOR: #cc0000; TOP: 2px; FONT-WEIGHT: bold; LEFT: 8px
}
.glow {
	FILTER: glow(color=#ffffff, strength=1) dropshadow(color=#ffffff, offx=0, offy=1, )
}
.ti{
	POSITION: relative; COLOR: #0f42a6; TOP: 2px; FONT-WEIGHT: bold; LEFT: 8px
}
.ti:link{
	POSITION: relative; COLOR: #0f42a6; TOP: 2px; FONT-WEIGHT: bold; LEFT: 8px
}
.ti:hover{
	POSITION: relative; COLOR: #cc0000; TOP: 2px; FONT-WEIGHT: bold; LEFT: 8px
}